section {
    background-image: linear-gradient(to right, #E5CCFF, #fff);
}

.table-success {
    --bs-table-color: #000;
    --bs-table-bg: #fff;
    --bs-table-border-color: #fff;
    --bs-table-striped-bg: #e5ccff22;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #E5CCFF;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #a290b8;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
}

.form-control:focus {
    border-color: #E5CCFF;
    box-shadow: 0 0 0 0.2rem #e5ccffbf;
}
*{
    transition: all 1s;
}